body {
    background-color: rgb(75, 7, 4);
}

.container {
    background-color: orangered;
    height: 100%;
    width: auto;
    margin: auto;
    padding: 3px;
    border: 2px solid black;
    margin-top: 15px;
    text-align: center;
}

h1 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

